/* your beautiful css styling goes here! */

.fleet {
	fill: steelblue;
}

.airbus {
	fill: skyblue;
}

.boeing {
	fill: lightsteelblue;
}

.fleet:hover, .airbus:hover, .boeing:hover {
	fill: lightcoral;
}

text {
	text-align: middle;
	font: 10px sans-serif;
}

.axis text {
	font: 12px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.scaleX.axis path {
	display: none;
}